body { background:#101010; color:white; font-family:Arial; text-align:center; }

.menu a {
  padding:10px 18px;
  margin:5px;
  background:#222;
  color:#0ff;
  display:inline-block;
  border-radius:6px;
}

.video {
  width:380px;
  height:260px;
  border-radius:8px;
}

.grid { display:flex; justify-content:center; gap:30px; }

.signal-panel {
  margin-top:10px;
  background:#222;
  padding:10px;
  border-radius:10px;
  width:200px;
}
